:root {
    --main-bg-color: coral;
    --main-left-margin: 100px;
    --main-font-size: 70%;
}
@media print{
  	.nav_menu, .nav_menu *
    {
        display: none !important;
    }
    footer
    {
        display: none !important;
    }
    @page {
        size: a5 landscape;
        margin: 0;
        }
  	body { margin: 1.6cm; }
}
@page { margin: 0; }
#receipt_wrapper
{
	font-family:Arial;
	width:100%;	
}

#sobre_header
{
	text-align:center;
}


#header_info
{
	position:relative;
	border-collapse:collapse;
	margin-left:var(--main-left-margin)	;
	margin-top:50px;
	margin-bottom:15px;
	width:88%;
    font-size: var(--main-font-size);
}

#receipt_items
{
	position:relative;
	border-collapse:collapse;
	margin-left:15px	;
	margin-top:15px;
	margin-bottom:15px;
	width:88%;
    font-size: var(--main-font-size);
}

#receipt_items td
{
	position:relative;
	padding:3px;	
}

/*.short_name
{
	display:none;
}*/

#sale_return_policy
{
	width:80%;
	margin:0 auto;
	text-align:center;
	font-size: var(--main-font-size);
}

#barcode
{
	margin-top:10px;
	text-align:center;
}