    {% block javascript %}
            <script src="{{base_url()}}assets/market.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
        {%endblock%}        
    </body>
</html>
