<!DOCTYPE html>
<html lang="en">
    <head>
        {% block css %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="{{base_url()}}assets/market.css"/>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />

            <!--[if lt IE 9]>
            <script src="{{base_url()}}assets/web/js/html5shiv.js"></script>
            <script src="{{base_url()}}assets/web/js/respond.min.js"></script>
            <![endif]-->      

            <title>Punto de Venta PHP | {{line(title)}}</title>
        {% endblock %}
    </head>
    <body>