#sobre_wrapper
{
	font-family:Arial;
	width:800px;	
	padding-top: 20px;
}

#sobre_header{
	text-align: center;
}


#envio_name
{
	font-size: 7em;
}


#envio_address,#envio_address_2
{
	padding-left: 30px;
	text-align: left;
	font-size: 4em;
}

#envio_address_2 span{
	font-size: 20px;
}

#envio_ciudad
{
	margin-bottom:5px;
	font-size: 3em;
}
