{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					{% include 'elementos/login.html.twig' %}
				</div>
				<div class="col-sm-1">
					<h2 class="or">{{line('common_or')}}</h2>
				</div>
				<div class="col-sm-4">
					{% include 'elementos/register.html.twig' %}
				</div>
			</div>
		</div>
	</section><!--/form-->

{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}