{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include 'partials/left_menu.html.twig' %}
				</div>
				
				<div class="col-sm-9 padding-right">
					<div id="market-catalogo"><!--features_items-->
					
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
				{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}