<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title>{{line('items_generate_barcodes')}}</title>
        <style>
#barcode {
    float: left;
    width: auto;
}</style>
    </head>
    <body>
        {% for item in items %}
            {% if loop.index % 5 == 0 and not loop.first %}
                <br>
                {% endif %}
                <div id='barcode'>
                    <img src="{{base_url()}}index.php/barcode?barcode={{item.id}}&text={{item.name}}&width=250&height=50" />
                </div>
            {% endfor %}
    </body>
</html>